.videoContainer
    position: relative;
    width: 200px;
    height: 150px;

.videoContainer video
    position: absolute;
    width: 100%;
    height: 100%;
            
.volume_bar
    position: absolute;
    width: 5px;
    height: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #12acef;