doctype html
html
    head
        title Streamer
        link(rel="stylesheet", href="/css/index.css")
    body
        //button(id="screenShareButton")
        p(id="subTitle")
        h1
        form(id="createRoom")
            input(id="sessionInput")
            button(type="submit") Создать комнату
        div(clas="videoContainer")
            video(id="localVideo", style="height: 150px;",oncontextmenu="return false;")
            div(id="localVolume", class="volume_bar")
        div(id="remotes")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js", type="text/javascript")
        script(src="/js/lib/simpleWebRTC/simplewebrtc.bundle.js", type="text/javascript")
        script(src="/js/index.min.js", type="text/javascript")